*{
    text-align: center;
    font-family: sans-serif;
}
body{
    background-image: none;
    background-color: aqua;
    width: 800px;
    margin: 25px, auto;
}
form{
    background-color: azure;
    width: 300px;
    margin-top: 70px;
    margin-left: 750px;
    margin-right: auto;
    padding: 20px;
    border: 3px solid green;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
}
label{
    display: block;
    color: black;
    text-shadow: 0px 0px 10px green;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 5px;
    cursor: pointer;
}
textarea{
    width: 300px;
    border: 1px solid darkgreen;
    margin-bottom: 1em;
    height: 7em;
}