body {
    background-image: url("assets/background.jpg");
    margin: 0px auto;
    
    text-align: center;
}

form {
    width: 25%;
    min-height: 200px;
    height: 75%;
    margin: 100px auto;
    background-color: green;
}

nav {
    position: relative;
    margin: 20px auto;
    background-color: indigo;
}

main {
    background-color: aqua;
}