body {
    background-image: url("assets/bckrnd.jpg");
    margin: 0px auto;
    
    text-align: center;   
}

form {
    width: 25%;
    min-height: 200px;
    height: 75%;
    margin: 100px auto;
    background-color: green;
}

nav {
    position: relative;
    margin: 0px auto 50px auto;
    background-color: beige;
}

li{
    list-style: none;
}

main {
    background-color: aqua;
}

div {
    border-radius: 2px;
    border-color: coral;
    background-color: cornsilk;
    box-shadow:0px 0px 10px black;
    width: 50%;
    height: 50%;
    margin: 10% auto;
}

p {
    text-align: center;
}
