body {
    text-align: center;
    
}

#response {
    margin: 0 auto;
    height: 50%;
    width: 100%;
    
}

form {
    margin: 0 auto;
    border: solid black 3px;
    border-radius: 20px;
    width: 50%;
}