img {
    width: 20%;
    height:  20%;
    max-height: 400px;
    border-right: 10px;
    padding-left: 3%;
    padding-right: 3%;
}
body {
    text-align: center;
    font-family: sans-serif;
    background-color: lightgray;
}