img {
    width: 20%;
    height:  20%;
    max-height: 400px;
    border-right: 10px;
    padding-left: 3%;
    padding-right: 3%;
}
body {
    text-align: center;
    font-family: sans-serif;
    background-color: white;
}

button {
    margin: 5% 5% 5% 5%;
}

#flaeche{
    margin: 0 auto;
    max-width: 80%;
}

#flaeche_end img{
    display: flex;
    margin: 0 auto;
    max-height: 18%;
    max-width: 18%;
}

#preview{
    position:fixed;
    float:inline-start;
    top: 10%;
    right: 1%;
}
#preview img{
    display: flex;
    margin: 0 auto;
    width: 10%;
    height: 10%;
}

h2{
    color: blue;
}